$custom-red:  #f14668;
$navbar-dropdown-arrow: $custom-red;
$navbar-item-hover-color: $custom-red;
$hr-background-color: $custom-red;
$breakpoint: 1024;

@import "../node_modules/bulma/bulma.sass";

.container{
  @include until($breakpoint){
    padding: 3%;
  }
}

#article-image{
  object-fit: cover;
}